* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-image: url('assets/backgrounds/Desktop Background.jpg');  */
}

/*animated background*/
.animated-background {
    position: absolute; /* Position it at the back */
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #1e3a8a, #1463b8, #5193ff, #7e46e5);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    z-index: -2;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}




/*Progress Tracker*/
.progress {
    position: fixed;
    top: 0;
    right: 0;
    margin:20px;
    height: auto;
    background-color: #333;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}

.progress-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.progress-item {
    display: flex;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
}

.progress-item img.taskbar-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.progress-item p {
    margin: 0;
    font-size: 1.5em;
}


/* Desktop Icons */
.icon {
    width: 80px;
    text-align: center;
    color: white;
    margin: 20px;
    cursor: pointer;
}

.icon-img {
    width: 50px;
    height: 50px;
}

/* Taskbar Icons */

.taskbar-item {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.taskbar-icon {
    width: 25px;
    height: 25px;
}

/* Taskbar */
.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

/* Style for the taskbar email */
.taskbar-user-name {
    font-family: Arial, sans-serif; 
    font-size: 14px;
    font-weight: bold;
    color: #fff; 
    background-color: #004c8c;
    padding: 5px 10px; 
    border-radius: 15px; 
    display: inline-block; 
    margin-left: 8px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* shadow for depth */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effects */
}

.taskbar-user-name:hover {
    background-color: #005bb5; /* Darker blue on hover */
    color: #e0e0e0; /* hover colour */
    cursor: pointer; 
}

/* Clock with real time */
.clock {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    color: white;
    font-size: 14px;
}

/* Styles for the close button */
#close-inbox {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #888;
}

#close-inbox:hover {
    color: #e74c3c; /* Red Hover Colour*/
}

/* Email Inbox Styles */
.inbox-container {
    width: 95%;
    height: 85%;
    position: fixed;
    top: 2%;
    left: 50%; /* This moves the containers left edge to center and then offsets for center*/
    transform: translateX(-50%);
    background-color: #f7f7f7;
    border: 2px solid #e5e5e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
}


/* Email Interface Layout */
.email-interface {
    display: flex;
    height: 100%;
}

/* Sidebar */
.email-sidebar {
    width: 20%;
    background-color: #e97c7c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-item {
    background-color: #f4c0c0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-item.active {
    background-color: #d93a3a;
    color: white;
    font-weight: bold;
}

/* Email List */
.email-list {
    font-size: medium;
    width: 40%;
    background-color: #f0f0f0;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-list-item {
    font-size: medium;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Email Content */
.email-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.email-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email-sender {
    width: 50px;
    height: 50px;
    background-color: #7f6fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.email-subject-line {
    flex-grow: 1;
    border-bottom: 2px solid #ddd;
}

.email-body {
    font-size: small;
    margin-top: 20px;
    flex-grow: 1;
}

.email-hover-text{
    position: relative;
    cursor: pointer;
    color: blue;
    text-decoration: underline; 
}

/* Instructions styles */
.instructions {
    font-size: medium;
    position: absolute;
    top: 50%;       
    left: 50%;       
    transform: translate(-50%, -50%); /* Moves the element back by 50% of its own width and height */
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #e97c7c; /*same colour as inbox*/
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 100; /*appears on top*/
}


.instructions-content {
    text-align: left;
}

h2 {
    margin-bottom: 15px;
    color: #ffffff;
}

p {
    margin-bottom: 20px;
    color: #ffffff;
}

/* Button styling */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns buttons vertically */
    width: 100%; /* Takes full width of the container */
}

.Reset-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px; 
    padding: 0;
    list-style: none; 
}

.progress-item {
    display: flex; 
    align-items: center; 
}

.reset {
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #004c8c;
    color: white;
    font-size: 14px;
    min-width: 100px; 
    text-align: center;
    margin-top: 5px;
}

.reset:hover {
    background-color: #c54003; 
}
.logoutRight {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin-top: 20px; 
    margin-left: auto;
}




.nav-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    min-width: 100px; 
    text-align: center;
}

.nav-button:hover {
    background-color: #0056b3; /* Darker blue when hovered */
}

.nav-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.nav-button.hidden {
    display: none;
}

#prev-button {
    order: 1; /* Forces Previous to always be first */
    margin-right: auto; 
}

#next-button {
    order: 2; /* Forces Next to always be last */
    margin-left: auto; 
}

#confirm-button {
    order: 3; /* Place Confirm in sequence after Next */
}



/*Styles for phishing highlights are correct*/

.highlighted {
    background-color: yellow;
}

.highlighted.correct {
    background-color: green;
}

.highlighted.incorrect {
    background-color: red;
}

.missed {
    background-color: orange;
}

/*Instructions for example email styles*/

.instruction-box {
    position: relative;
    bottom: 0%;
    background-color: #fff;
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}


.instruction-box strong {
    font-size: medium;
}

.instruction-box p {
    font-size: medium;
    margin: 10px 0;
    color: black;
}



/* Colours for key*/
.colour-meaning-box {
    padding: 10px;
    width: 250px;
    font-size: small;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}

.colour-meaning-box p {
    margin: 5px 0;
    color:black;
}

.colour-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;

}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

#reminder {
    display: inline-block;
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    text-align: center;
}

#reminder:hover {
    background-color: #0056b3; /* Darker blue when hovered */
}

/* Close button for reminder of email types */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover {
    color: red;
}




/* Styling radio buttons */


.radio-section label {
    display: flex;
    align-items: center;
    font-size: small;
    color: #000000;
    cursor: pointer;
}

/* Hover effect */
.radio-section label:hover::before {
    border-color: #0056b3;
}

.radio-section label:hover {
    color: #007bff;
}

.hidden { /*used to hide tickbox class orginally*/
    display: none;
}


/*Styles for tickbox class*/
.multiplechoice-box {
    position: relative;
    bottom: 0%;
    background-color: #fff;
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

.multiplechoice-box h1 {
    text-align: left;
    font-size: small;
    color: #000000;
}

.multiplechoice-box h2 {
    text-align: left;
    font-size: small;
    color: #000000;
}


.multiplechoice-box strong {
    font-size: small;
}

.multiplechoice-box p {
    font-size: small;
    margin: 10px 0;
    color: black;
}


/* Background blur effect */
.blurred {
    filter: blur(3px);
}


/*Reminder box*/


.reminder-box {
    font-size: medium;
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    z-index: 1000;
    text-align: center;
}


.reminder-box strong {
    font-size: medium;
}

.reminder-box p {
    font-size: medium;
    margin: 10px 0;
    color: black;
}

/*Password Tester Styles*/

.password-container {
    width: 95%;
    height: 85%;
    position: relative;
    top: 2%;
    left: 50%; /* This moves the containers left edge to center and then offsets for center*/
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
}

.password-interface {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    width: 100%;
    height: 100%;
}

/* Strength Test - Left Side */
.middle {
    margin-bottom: 1%;
    padding-top: 20px;
    padding-left: 20px;
    flex: 1; 
    position: relative;
    background-color: #ffefd5  ;
    border-bottom: 1px solid #ddd; /* separator */
}

.middle h2 {
    font-size: 1.25rem;
    color: #000;
}

.middle h3 {
    font-size: 1.25rem;
    color: #000;
    margin: 10px;
}

.bottom {
    margin-bottom: 1%;
    padding-left: 20px;
    flex: 1; 
    background-color: #ffffff  ;
    border-bottom: 1px solid #ddd; /* separator */
}

.bottom h2 {
    font-size: 1.25rem;
    color: #000;
}

.password-info {
    margin-top: 10px;
    font-size: 1em;
    color: #000000;
}

.password-info ul {
    padding-left: 20px;
}

#password-interface p {
    color: #000000; 
}


.StrengthTest {
    position: relative; 
    width: 300px;
    height: 50px;
    z-index: 20; 
    margin: 10px;
    padding: 0;
}




.StrengthTest input {
    position: absolute;
    inset: 2px;
    z-index: 10;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 10px 15px;
    background: #333;
    color: #fff;
}
.StrengthTest .password-strength
{
    position: absolute;
    inset: 0;
    background: #1115;
}

.StrengthTest .password-strength:nth-child(3)
{
    filter: blur(5px);
}

.StrengthTest .password-strength:nth-child(4)
{
    filter: blur(10px);
}

/* Styles for the close button password*/
#close-password {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #888;
}

#close-password:hover {
    color: #e74c3c; /* Red Hover Colour*/
}




/* Pwned - Right Side */
.Pwned {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 20px;
    flex: 1; /* Takes up 1/3 */
    background-color: #ffffff  ;
}

.Pwned h2 {
    font-size: 1.25rem;
    color: #000;
}

.Pwned input {
    width: 100%; /* Ensure the input takes up the full width of the container */
    padding: 10px 15px;
    margin-bottom: 5px; /* Add space below the input */
    font-size: 1em;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

/* Button Styles */
.checkButton {
    width: 100%; /* Full width of the container */
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.checkButton:hover {
    background-color: #45a049;
}

/* Button Styles */
.Task2-Check {
    width: 30%; /* Full width of the container */
    margin-top: 0px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.Task2-Check:hover {
    background-color: #45a049;
}

#resulttask2 {
    position: absolute;
    top: 10px; /* Adjust to move it to the top */
    right: 20px; /* Adjust to move it to the right */
    font-size: 1.25rem;
    color: #000;
}

/* Pwned Password Box */
.ResultsPwn {
    margin-top: 10px;
    text-align: center;
    color: #333;
    font-size: 1rem;
}

/* Task for password */

.Taskpassword {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.Taskpassword h2 {
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 15px;
}

.Taskpassword ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Taskpassword li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #495057;
}

.Taskpassword .status {
    font-size: 12px;
    color: #6c757d;
    margin-left: 8px;
    font-style: italic;
}

.Taskpassword .status.complete {
    color: #28a745; /* Green for completed */
    font-weight: bold;
}

.Taskpassword .status.incomplete {
    color: #dc3545; /* Red for incomplete */
    font-weight: bold;
}

.Taskpassword .next-steps p {
    color: #28a745; 
    font-size: 14px;
}

/* Task for email */

.Taskemail {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.Taskemail h2 {
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 15px;
}

.Taskemail ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Taskemail li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #495057;
}

.Taskemail .status {
    font-size: 12px;
    color: #6c757d;
    margin-left: 8px;
    font-style: italic;
}

.Taskemail .status.complete {
    color: #28a745; /* Green for completed */
    font-weight: bold;
}

.Taskemail .status.incomplete {
    color: #dc3545; /* Red for incomplete */
    font-weight: bold;
}

.Taskemail .next-steps p {
    font-size: 14px;
    color: #28a745; /* Green text for guidance */
}


/* Code for email instructions */
.highlight {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px; 
    text-underline-offset: 2px; 
}
.arrow-up-icon {
    width:30px;  
    height: auto; 
    vertical-align: middle; 
    margin-left: 8px; 
}


.arrow-icon {
margin-left: 8px;
}

.arrow-icon img {
    width: 20px; 
    height: auto;
}



/*Web Styles*/

.web-container {
    width: 95%;
    height: 85%;
    position: relative;
    top: 2%;
    left: 50%; /* This moves the containers left edge to center and then offsets for center*/
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
}

.web-interface {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Styles for the close button */
#close-web {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #888;
}

#close-web:hover {
    color: #e74c3c; /* Red Hover Colour*/
}

/* Styles for Web Task */
.Taskweb {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.Taskweb h2 {
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 15px;
}

.Taskweb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Taskweb li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #495057;
}

.Taskweb .status {
    font-size: 12px;
    color: #6c757d;
    margin-left: 8px;
    font-style: italic;
}

.Taskweb .status.complete {
    color: #28a745; /* Green for completed */
    font-weight: bold;
}

.Taskweb .status.incomplete {
    color: #dc3545; /* Red for incomplete */
    font-weight: bold;
}

.Taskweb .next-steps p {
    color: #28a745; 
    font-size: 14px;
}

.web-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

/*  input and askbutton */
.input-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10%; 
}

#user-input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#ask-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#ask-button:hover {
    background-color: #0056b3;
}



#response-container {
    position: absolute;
    top:20%;
    width: 80%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}


#CompleteWeb {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}


/* Desktop Area */
.desktop-area {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.GuardPoint-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
}

.GuardPoint-icon-img {
    width: 600px; 
    height: auto;
    border-radius: 20px;
}

/* Profile Styles */
#close-profile {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #888;
}

#close-profile:hover {
    color: #e74c3c; /* Red Hover Colour*/
}

.profile-container {
    padding: 40px;
    position: absolute;
    bottom: 10%; /* Aligns to the bottom */
    left: 2%; /* Aligns to the left */
    background-color: #333;
    border: 2px solid #e5e5e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
    width: auto; /* Fit content width */
    height: auto; /* Fit content height */
    max-width: 90%; /* Prevent excessive stretching on wide screens */
}


.reset progress{
    font-size: 1.3rem; /* Bigger text */
    font-weight: bold; /* Bold text */
}

/* Style for the taskbar email */
.profile-info {
    font-family: Arial, sans-serif; 
    margin-bottom: 10px; 
    font-size: 14px;
    font-weight: bold;
    color: #fff; 
    background-color: #004c8c;
    padding: 5px 10px; 
    border-radius: 15px; 
    display: block; 
    margin-left: 8px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* shadow for depth */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effects */
}

.profile-info:hover {
    background-color: #005bb5; /* Darker blue on hover */
    color: #e0e0e0; /* hover colour */
    cursor: pointer; 
}

.profile-info input{
    width: 100%;
    padding: 1%;
    margin-bottom: 5px;
    border: 0.1% solid #ccc;
    border-radius: 0.5%;
}

.profile-info p{
    margin-bottom: 10px;
}

.search-title {
    margin-top: 0.5%;
    color: lightblue; 
    text-decoration: underline;
    cursor: pointer; 
    margin-bottom: 0%;
}

.search-url {
    color: grey;
    font-style: italic; 
}

.search-description {
    color: grey;
    font-size: 0.9em; 
    margin-bottom: 0%;
}

.search-feedback {
    color: rgb(248, 204, 7);
    font-size: 1em; 
    font-weight: bold;
    padding: 0%;
}

/*quiz styles*/
.quiz-container {
    width: 95%;
    height: 85%;
    position: relative;
    top: 2%;
    left: 50%; 
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
}

.quiz-interface {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Styles for the close button */
#close-quiz {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #888;
}

#close-quiz:hover {
    color: #e74c3c; /* Red Hover Colour*/
}