* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Main content layout */
main {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 5%; /* Add some space between the two sections */
    padding: 5%;
    margin: 0 auto;
    max-width: 80%; 
    height: 80%;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #004c8c; 
    color: white; /* Text color */
    text-align: center; /* Center-align text inside */
}

nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px; 
    margin: 1%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 30px; 
}

nav ul li a {
    color: white;
    font-size: 1.3rem; 
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li a:hover {
    color: #ffda44;
}

.hero {
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 1.5%; 
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    width: 100%;
    text-align: center;
    margin: 0 auto; /* Center it horizontally */
}

.hero-content h2 {
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
}

.hero-content p {
    font-weight: bold;
    width: 100%;
    margin: 2% 0;
    font-size: 2rem; /* Adjust font size for readability */
}

.btn {
    background-color: #004c8c;
    color: #ffffff;
    padding: 1% 2%;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 2%;
    font-weight: bold;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: #002e53;
}

footer {
    position: fixed; 
    bottom: 0;     
    left: 0;       
    width: 100%;    
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1% 0;
    margin-bottom: 1%;
}

/* keeping same properties*/
.common-box {
    height: auto;
    width: 45%; /* Same width for both */
    padding: 4%;
    border-radius: 0.8%;
    box-shadow: 0 0.4% 0.6% rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.info {
    background-color: #f4f4f4;
    color: #333;
    border-radius: 20px;
}

.auth-form {
    background-color: #333;
    color: white;
    border-radius: 20px;
}

.form-container {
    flex: 1; /* Allow form to grow and fill space */
}


.auth-form h2 {
    margin-bottom: 2%;
    font-size: 1.8rem;
}

.auth-form label {
    display: block;
    margin-bottom: 0.8%;
    font-weight: bold;
}

.auth-form input {
    width: 100%;
    padding: 1%;
    margin-bottom: 2%;
    border: 0.1% solid #ccc;
    border-radius: 0.5%;
}

.auth-form input[type="password"] {
    margin-bottom: 2%;
}

.auth-form button {
    width: 100%;
    padding: 1%;
    background-color: #004c8c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #003d7a;
}


/*animated background*/

.animated-background {
    position: absolute; /* Position it at the back */
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    z-index: -1;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


.icon {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin: auto; 
}

.icon-img {
    border-radius: 20px;
    width: 600px; 
    height: auto;
}

.terms {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

label a {
    color: #0373cf; 
    text-decoration: none; 
    font-weight: bold; 
    display: inline-block;
    vertical-align: middle;
}

label a:hover {
    color: #05508d; 
    text-decoration: underline; 
}


